body{
    background-color: aquamarine;
}
img {
    margin-right: 20px;
}

.txt{
    margin-top: 10px;
    margin-left: 20px;
    margin-right:  1460px;
    padding: 10px;
    margin-bottom: 2px;
   
}
li {
    margin-top: 1px;
    margin-bottom: 1px;
}

